{% extends 'layout.html'%}

{% block content %}

  <header class="masthead d-flex">
    <div class="container  my-auto">
      <p>
        <font size="8">
          <b>
            Salary Prediction Platform  
          </b>
          
        </font>  
      </p>
      
      <h3 class="mb-5">      
        <ul>
          <a href="/salary-prediction-with-multiple-features"> 
            <u> 
              <li>
                <p>
                  <em>Salary prediction with multiple features</em>
                </p>
                
              </li> 
            </u>  
          </a>

          <a href="/salary-prediction-with-one-feature"> 
            <u> 
              <li>
                <p>
                  <em>Salary prediction with one feature</em>  
                </p>
                
              </li> 
            </u> 
          </a>
          
          
        </ul> 
      </h3>
    </div>
    <div class="overlay"></div>
  </header>

{% endblock %}


